Use pyodbc with Cloudera Impala ODBC

In [14]:
import pandas as pd
import pyodbc

In [5]:
#################### Path Config #################################
path_cfg = '/app/pmsuser/programv2/cfg/'
file_cfg = 'main.ml'
###############################################################
import sys
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import imp
imp.load_source(file_cfg, path_cfg+file_cfg+'.cfg')
from main.ml import *

In [6]:
def as_pandas(cursor):
    names = [metadata[0] for metadata in cursor.description]
    return pd.DataFrame([dict(zip(names, row)) for row in cursor], columns=names)

Configuration settings for the ODBC connection

In [7]:
connection_string = '''Driver=/opt/cloudera/impalaodbc/lib/64/libclouderaimpalaodbc64.so;
HOST={HOST};
PORT={PORT};
UID={USER};
PWD={PASS};
AuthMech=3;
SSL=0;
Min_TLS=1.2;
AllowSelfSignedServerCert=1'''.format(HOST=HOST_IMPALA, PORT=PORT_IMPALAODBC,USER=USER_IMPALA,PASS=PASS_IMPALA)

Create connection

In [8]:
connection=pyodbc.connect(connection_string, autocommit=True)

Get cursor to interact with the SQL engine

In [9]:
cursor = connection.cursor()

Execute queries like so:

In [10]:
query_sql='''SELECT * FROM pms_radio.master_province;'''

In [11]:
cursor.execute(query_sql)

Convert result set into pandas DataFrame

In [12]:
df = as_pandas(cursor)
df

   province_id  thai_province      eng_province
0            1  กรุงเทพมหานคร           BANGKOK
1            2         กระบี่             KRABI
2            3      กาญจนบุรี      KANCHANABURI
3            4      กาฬสินธุ์           KALASIN
4            5      กำแพงเพชร    KAMPHAENG PHET
..         ...            ...               ...
72          73     อำนาจเจริญ     AMNAT CHAROEN
73          74       อุดรธานี        UDON THANI
74          75      อุตรดิตถ์         UTTARADIT
75          76      อุทัยธานี       UTHAI THANI
76          77    อุบลราชธานี  UBON RATCHATHANI

[77 rows x 3 columns]

Remember to always close your connection once done, otherwise unexpected behavior may result!

In [13]:
cursor.close()